canvas {
    position: absolute;
    width:25%;
    height:auto;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);


}




#GiveUpGameS1 {
    position: fixed;
    top: 50%;
    left: 3%;
    display: none;
}
#GiveUpGameP1 {
    position: fixed;
    top: 50%;
    left: 3%;
    display: none;
}
#GiveUpGameS2 {
    position: fixed;
    top: 50%;
    left: 3%;
    display: none;
}
#MenuButtons {
    width:80%;
}

#MusicOFF{ 
    display: block;
}

#MusicON{ 
    display: none;
}

#SettingsMusicON{
    display: none;
}

#SettingsMusicOFF{ 
    display: block;
}

#SoundFXOFF{
    display: block;
}

#SoundFXON{
    display: none;
}

#SettingsSoundFXOFF{
    display: block;
}

#SettingsSoundFXON{
    display: none;
}





#CarouselView{
    display:none;
}

#PlayAgainS1 {
    position: fixed;
    top: 50%;
    left: 3%;
    display: none;
}
#PlayAgainP1 {
    position: fixed;
    top: 50%;
    left: 3%;
    display: none;
}
#PlayAgainS2 {
    position: fixed;
    top: 50%;
    left: 3%;
    display: none;
}

#SettingsButton {
    position: fixed;
    right: 1%;
    display: none;
}

#PauseButton {
    position: fixed;
    right: 1%;
    display: none;
}

#retroText {
    color: #6cbd30;
    margin: auto;
    font-family: 'Press Start 2P',
        cursive;
    font-size:1vw;
    height: auto;
    padding-top: auto;
}
#text{
    font-size:1vw;
    
}

#MainButton{ 
    margin: auto;
    font-size:1vw;
    height: auto;
    padding-top: auto; 
    position:fixed;
}

#retroflexTitle2 {
    color: #6cbd30;
    margin: auto;
    font-family: 'Press Start 2P',
        cursive;
    height: auto;
    padding-top: auto;
    left:31%;
    position: fixed;
    
}

#qualcomm {
    border: #383942;
}

#qualcommIMG {
    width: 92px;
    height: 22.4px;
}

#github {

    color: #0068b0;

}

#icon {
    width: 60%;
    height: 60%;
}

#SettingsMenuView {
    width: 50%;
    position: absolute;
    top: 40%;
    left: 25%;
    padding: 5% 0;
    text-align: center;
    background-color: grey;
    margin-top: 3%;
    display: none;
    border-radius: 12px;
}

#InstructionsSnake {
    position: absolute;
    top: 30%;
    left: 80%;

    text-align: center;
    background-color: grey;
    margin-top: 3%;
    display: none;
    padding: 2%;

    box-shadow: 1px 1px 3px 2px #383942;
    -webkit-box-shadow: 1px 1px 3px 2px #383942;
    -moz-box-shadow: 1px 1px 3px 2px #383942;
}

#PauseMenu {
    width: 70%;
    position: absolute;
    top: 15%;
    left: 15%;
    padding: 1% 0;
    text-align: center;
    background-color: grey;
    display: none;
    border-radius: 12px;

}
#InstructionHelp1{
    color:#6cbd30;
    display:none;
}

#InstructionHelp2{
    color:#6cbd30;
    display:none;
}

#informationButton {
    font-size:1vw;
    position: fixed;
    bottom: 3%;
    right: 1%;
}

#informationContainer {

    position: absolute;
    top: 78%;
    left: 87%;

    text-align: center;
    background-color: grey;
    margin-top: 3%;
    display: none;
    padding: 2%;

    box-shadow: 1px 1px 3px 2px #383942;
    -webkit-box-shadow: 1px 1px 3px 2px #383942;
    -moz-box-shadow: 1px 1px 3px 2px #383942;

}

#StartViewSnake {
    width: 50%;
    height:20%;
    position: absolute;
    left: 25%;
    padding: 1% 0;
    text-align: center;
    background-color: grey;
    margin-top: 3%;
    display: none;
    border-radius: 12px;

}
#StartViewHardSnake {
    width: 50%;
    height:20%;
    position: absolute;
    left: 25%;
    padding: 1% 0;
    text-align: center;
    background-color: grey;
    margin-top: 3%;
    display: none;
    border-radius: 12px;

}

#StartViewPong {
    width: 50%;
    height:20%;
    position: absolute;
    left: 25%;
    padding: 1% 0;
    text-align: center;
    background-color: grey;
    margin-top: 3%;
    display: none;
    border-radius: 12px;
    
}

#TileView {
    width: 50%;
    position: absolute;
    left: 25%;
    padding: 5% 0;
    text-align: center;
    background-color: black;
    margin-top: 3%;
    display: block;
    border-radius: 12px;

}

.button {
    border: none;
    color: #6cbd30;
    padding: 1% 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Press Start 2P';
    font-size:1vw;
    margin: 1.5% 1%;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;

}

.button1 {
    background-color: black;
    color: #6cbd30;
    border: 2px solid #6cbd30;
}

.button1:hover {

    cursor: pointer;
    background-color: #6cbd30;
    color: white;
}


.Tilebutton {
    border: none;
    color: #6cbd30;
    padding: 1% 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Press Start 2P';
    font-size:1vw;
    margin: 1.5% 1%;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;

    box-shadow: 1px 1px 3px 2px #383942;
    -webkit-box-shadow: 1px 1px 3px 2px #383942;
    -moz-box-shadow: 1px 1px 3px 2px #383942;
}

.Tilebutton1 {
    background-color: black;
    color: #6cbd30;
    border: 2px solid #6cbd30;
}

.Tilebutton1:hover {

    cursor: pointer;
    background-color: #6cbd30;
    color: white;
}
.Tilebuttons {
    border: none;
    color: #6cbd30;
    width:20%;
    height:20%;
    padding: 1% 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Press Start 2P';
    font-size:1vw;
    margin: 1.5% 1%;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 1px 1px 3px 2px #383942;
    -webkit-box-shadow: 1px 1px 3px 2px #383942;
    -moz-box-shadow: 1px 1px 3px 2px #383942;
}

.Tilebuttons1 {
    background-color: black;
    color: #6cbd30;
    border: 2px solid #6cbd30;
}

.Tilebuttons1:hover {

    cursor: pointer;
    background-color: #6cbd30;
    color: white;
}

.roundbutton {
    border: none;
    color: #6cbd30;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Press Start 2P';
    font-size:1vw;
    margin: 1% 1%;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 500%;

}

.roundbutton1 {
    background-color: black;
    color: #6cbd30;
    border: 2px solid #6cbd30;
}

.roundbutton1:hover {

    cursor: pointer;
    background-color: #6cbd30;
    color: white;
}